/**
 * This plugin makes some asumptions about your themes design.
 * ///////////////////////////////////////////////////////////
 * Your theme should also be using a typographic/modular scale of rems. With 1rem = (14px min to 18px max).
*/
html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body.single-reports .entry-body .entry-content .ccb-chapter:before, body.single-reports .entry-body .entry-content .ccb-parallax, body.single-reports .entry-body .entry-content figure.alignnone, body.single-reports .entry-body .entry-content figure.full-bleed, body.single-reports .entry-body .entry-content .tweet-embed, body.single-reports .entry-body .entry-content .ccb-content.box,
body.single-reports .entry-body .entry-content .wide-paragraph {
  width: calc(100% + 4rem);
  margin-left: -2rem;
}
@media screen and (min-width: 900px) {
  body.single-reports .entry-body .entry-content .ccb-chapter:before, body.single-reports .entry-body .entry-content .ccb-parallax, body.single-reports .entry-body .entry-content figure.alignnone, body.single-reports .entry-body .entry-content figure.full-bleed, body.single-reports .entry-body .entry-content .tweet-embed, body.single-reports .entry-body .entry-content .ccb-content.box,
  body.single-reports .entry-body .entry-content .wide-paragraph {
    width: calc(100% + 368px);
    margin-left: -336px !important;
  }
}

.modal {
  display: none;
}
.modal.open {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}

.modal-trigger {
  cursor: pointer;
}

.cpr-btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.report-title {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
}
.report-title::after {
  clear: both;
  content: "";
  display: table;
}

.cpr-entry-title {
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 1.5rem;
}

.cpr-entry-subtitle {
  text-transform: capitalize;
  font-weight: lighter;
  margin-top: -0.75rem !important;
}

#report-header {
  z-index: 4;
  position: relative;
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom left;
  background-repeat: no-repeat;
  text-align: left;
  color: white;
}
#report-header:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 39.23611%;
}
#report-header > .maintain-ratio {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#report-header.static-header {
  background-attachment: scroll;
}
#report-header .cpr-header-gradient {
  color: white;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: end;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
}
@media screen and (min-width: 700px) {
  #report-header .cpr-header-gradient {
    background-color: rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.45) 59%, rgba(0, 0, 0, 0.65) 100%);
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.45) 59%, rgba(0, 0, 0, 0.65) 100%);
    padding-bottom: 1.5rem;
  }
}
#report-header .report-title {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-positive: 1;
  text-align: center;
}
#report-header .cpr-entry-title {
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  font-size: 2.5rem;
  line-height: 1.15;
}
@media screen and (min-width: 900px) {
  #report-header .cpr-entry-title {
    font-size: 3rem;
  }
}
#report-header .cpr-entry-category {
  text-transform: uppercase;
  font-size: 80%;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.1);
  padding: .35em 1em;
  border-radius: 50px;
  color: white;
  display: inline-block;
}

body.single-reports .entry-body {
  background: white;
  padding: 2rem;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
}
body.single-reports .entry-body::after {
  clear: both;
  content: "";
  display: table;
}
body.single-reports .entry-body::after {
  clear: both;
  content: "";
  display: table;
}
@media screen and (min-width: 900px) {
  body.single-reports .entry-body {
    padding: 2rem 0;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
  }
}
body.single-reports .entry-body > div {
  position: relative;
}
@media screen and (min-width: 900px) {
  body.single-reports .entry-body > div:first-of-type {
    padding-left: 2rem;
    width: 300px;
  }
}
body.single-reports .entry-body .entry-sidebar > div > div, body.single-reports .entry-body .entry-sidebar > div > span {
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #eaeaea;
}
@media screen and (min-width: 900px) {
  body.single-reports .entry-body > div:last-of-type {
    width: -webkit-calc(100% - 250px);
    width: calc(100% - 250px);
    padding-left: 50px;
    padding-right: 2rem;
  }
}
@media screen and (min-width: 720px) {
  body.single-reports .entry-body .entry-content > section:first-of-type .aesop-article-chapter-wrap {
    margin-top: 0px !important;
  }
}
body.single-reports .entry-body .entry-content figure.alignnone {
  margin-left: 0;
  margin-right: 0;
}
body.single-reports .entry-body .entry-content figure.alignnone img {
  border-bottom: 1px solid #eaeaea;
}
body.single-reports .entry-body .entry-content figure.full-bleed {
  margin-left: 0;
  margin-right: 0;
}
body.single-reports .entry-body .entry-content .ccb-pullquote.alignleft {
  float: none;
  width: 100% !important;
}
@media screen and (min-width: 720px) {
  body.single-reports .entry-body .entry-content .ccb-pullquote.alignleft {
    float: left;
    margin-left: 0 !important;
    width: 35% !important;
    margin-right: 40px !important;
    margin-top: 0;
  }
  body.single-reports .entry-body .entry-content .ccb-pullquote.alignleft p {
    padding-right: 1rem;
  }
}
@media screen and (min-width: 900px) {
  body.single-reports .entry-body .entry-content .ccb-pullquote.alignleft {
    float: left !important;
    margin-left: -300px !important;
    width: calc(100% - 300px) !important;
    width: -webkit-calc(100% - 300px) !important;
    margin-right: 45px !important;
  }
}
@media screen and (min-width: 900px) {
  body.single-reports .entry-body .entry-content .aesop-video-component.aesop-component-align-left {
    position: relative;
    float: left;
    width: 500px;
    margin-right: 3rem;
    margin-left: -300px !important;
  }
}
body.single-reports .entry-body .entry-content .aesop-video-component .pretty-embed {
  margin-bottom: 0;
}
body.single-reports .entry-body .entry-content .chapter-title + .oembed[data-src*="twitter.com"] .tweet-embed:before {
  display: none;
}
body.single-reports .entry-body .entry-content .chapter-title + .oembed[data-src*="twitter.com"] .tweet-embed .tweet-offset {
  border-bottom: 2px solid #dbeefb;
}
body.single-reports .entry-body .entry-content .tweet-embed {
  position: relative;
}
body.single-reports .entry-body .entry-content .tweet-embed:before {
  display: block;
  content: "";
  width: 100%;
  border-top: 2px solid #dbeefb;
  position: relative;
  top: -2px;
}
body.single-reports .entry-body .entry-content .tweet-embed .tweet-offset {
  padding: 1rem 2rem;
}
@media screen and (min-width: 900px) {
  body.single-reports .entry-body .entry-content .tweet-embed .tweet-offset {
    position: absolute;
    width: 250px;
    top: -2px;
    padding: 1rem 0;
    border-top: 2px solid #55acee;
  }
}
body.single-reports .entry-body .entry-content .tweet-embed .tweet-offset iframe[style] {
  width: 100% !important;
}
body.single-reports .entry-body .entry-content .ccb-content.box body.single-reports .entry-body .entry-content .ccb-content > div {
  padding: 2rem;
}
@media screen and (min-width: 900px) {
  body.single-reports .entry-body .entry-content .ccb-content.box body.single-reports .entry-body .entry-content .ccb-content > div {
    padding-left: 335px;
  }
}
body.single-reports .entry-body .entry-content .ccb-content.box body.single-reports .entry-body .entry-content .ccb-content > div h1:first-of-type,
body.single-reports .entry-body .entry-content .ccb-content.box body.single-reports .entry-body .entry-content .ccb-content > div h2:first-of-type,
body.single-reports .entry-body .entry-content .ccb-content.box body.single-reports .entry-body .entry-content .ccb-content > div h3:first-of-type,
body.single-reports .entry-body .entry-content .ccb-content.box body.single-reports .entry-body .entry-content .ccb-content > div h4:first-of-type,
body.single-reports .entry-body .entry-content .ccb-content.box body.single-reports .entry-body .entry-content .ccb-content > div h5:first-of-type {
  margin-top: 0;
}
body.single-reports .entry-content {
  counter-reset: paragraph;
}
body.single-reports .entry-content p.counter-paragraph:before {
  position: absolute;
  margin-left: -30px;
  color: #ccc;
  content: counter(paragraph);
  counter-increment: paragraph;
  opacity: 0.4;
  font-size: .8rem;
}
body.single-reports .entry-content p.counter-paragraph:hover:before {
  opacity: 1.0;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  position: relative;
}
figure.image-box {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 899px) {
  figure.image-box {
    max-width: 100%;
  }
}

.sti[style] {
  width: auto !important;
}
.sti .sti-share-box {
  padding: 0.5rem;
}
.sti .sti-share-box .mdi {
  cursor: pointer;
  color: white;
  display: inline-block !important;
  margin-right: 0.3rem;
}
.sti .sti-share-box .mdi:before {
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}

figure.oembed[data-src*="soundcloud.com"] {
  margin-left: 0;
  margin-right: 0;
}
figure.oembed[data-src*="soundcloud.com"] iframe {
  max-width: 100%;
}

@media screen and (min-width: 1123px) {
  .aligncenter .image-meta {
    text-align: left;
    position: absolute;
    width: 250px;
    top: 0px;
    text-align: right;
    left: -300px;
    padding-top: 0;
  }
  .aligncenter .image-meta:before {
    content: "";
    border-top: 2px solid #eaeaea;
    display: block;
    width: 50%;
    margin-bottom: 10px;
    margin-left: 50%;
  }
}

.image-box:not(.alignnone) .image-meta .photo-credit {
  display: none;
}

.image-box .image-meta .photo-credit {
  float: right;
  position: relative;
  display: block;
  margin-top: -2.25rem;
  opacity: 0.8;
  font-size: 0.8rem;
  color: white;
  text-shadow: 0px 1px 1px #000;
  padding-right: 2rem;
}

.image-box.alignnone .image-meta .photo-caption {
  display: block;
  font-size: 0.8rem;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.wp-caption {
  max-width: 100%;
  margin: 1rem 0;
}
.wp-caption[style] {
  width: auto !important;
}
.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wp-caption .wp-caption-text {
  text-align: center;
  font-style: italic;
  font-size: .85rem;
  padding: 0.8075em 0;
}

#chapter-list.modal {
  background-color: rgba(0, 0, 0, 0.5);
}
#chapter-list.modal .modal-container {
  padding: 1rem;
  max-width: 550px;
  width: 100%;
  background-color: white;
  font-size: 1.5rem;
}
#chapter-list.modal .close {
  font-size: 25px;
  line-height: 30px;
  position: relative;
  float: right;
  top: -28px;
  background-color: white;
  border-radius: 50%;
  padding: 0.1rem 0.2rem;
  right: -23px;
}
#chapter-list.modal ol {
  counter-reset: chapter-counter;
  list-style-type: none;
  padding-left: 0 !important;
}
#chapter-list.modal ol li {
  display: block;
  margin-bottom: 1rem;
}
#chapter-list.modal ol li:before {
  content: counter(chapter-counter);
  counter-increment: chapter-counter;
  background-color: #eaeaea;
  border-radius: 50%;
  text-align: center;
  position: relative;
  display: block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  margin-right: 0.8rem;
  float: left;
}

#related-reports {
  margin-top: 2rem;
  display: block;
}
#related-reports::after {
  clear: both;
  content: "";
  display: table;
}
#related-reports > a {
  width: 100%;
  display: block;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 480px) {
  #related-reports > a:first-of-type {
    margin-bottom: 1.5rem;
  }
}
@media screen and (min-width: 482px) {
  #related-reports > a {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
  }
  #related-reports > a:last-child {
    margin-right: 0;
  }
}
#related-reports > a div {
  background-color: rgba(0, 0, 0, 0.46);
  padding: 2rem;
}
#related-reports > a div * {
  color: white;
}
@media screen and (min-width: 482px) {
  #related-reports > a div h3 {
    margin-bottom: 1.5rem;
  }
}
#related-reports > a div span {
  display: none;
  font-size: .8rem;
}
@media screen and (min-width: 482px) {
  #related-reports > a div span {
    display: block;
  }
}
#related-reports > a div span strong {
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  padding-bottom: .15rem;
}

#bottom-post-tools {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: .5em;
  z-index: 3;
  background-color: white;
  border-top: 1px solid #eaeaea;
  font-size: 80%;
}
@media screen and (max-width: 480px) {
  #bottom-post-tools {
    font-size: 100%;
  }
}
#bottom-post-tools::after {
  clear: both;
  content: "";
  display: table;
}
@media screen and (max-width: 480px) {
  #bottom-post-tools > span, #bottom-post-tools > a span {
    display: none;
  }
}

.accordion-tabs {
  padding: 0;
}
.accordion-tabs::after {
  clear: both;
  content: "";
  display: table;
}
.accordion-tabs .tab-header-and-content {
  list-style: none;
}
.accordion-tabs .tab-link {
  display: block;
  padding-right: 1em;
}
.accordion-tabs .is-active {
  color: #ff0000;
}
.accordion-tabs .tab-content {
  display: none;
  width: 100%;
}

#report-overview .overview-container {
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 1rem 2rem 1rem;
}
#report-overview .overview-container::after {
  clear: both;
  content: "";
  display: table;
}
#report-overview .overview-container > div:first-of-type {
  text-align: center;
  padding-top: .5rem;
  padding-bottom: 2rem;
}
#report-overview .overview-container > div:first-of-type a.download-pdf {
  color: #b7b7b7;
  font-size: 0.8rem;
}
#report-overview h4 {
  text-align: center;
  cursor: pointer;
}
#report-overview #key-points {
  width: 100%;
}
#report-overview #key-points::after {
  clear: both;
  content: "";
  display: table;
}
#report-overview #key-points aside {
  padding: 0 1rem;
  text-align: center;
}
@media screen and (max-width: 480px) {
  #report-overview #key-points aside {
    margin-bottom: 1rem;
  }
}
#report-overview #key-takeaways aside {
  padding: 1rem 3rem;
  font-size: 1.85rem;
}
@media screen and (max-width: 480px) {
  #report-overview #key-takeaways aside {
    font-size: 1.25rem;
    padding: .5rem 1.5rem;
  }
}
#report-overview #key-takeaways aside .share-selection {
  padding-left: 1rem;
}

.footnotes .footnotedivider:before {
  display: block;
  content: "Footnotes:";
  padding-bottom: 1rem;
  border-bottom: 1px solid #eaeaea;
  font-weight: bolder;
}
.footnotes ol {
  font-size: 0.8rem;
  counter-reset: footnotes-counter;
  list-style-type: none;
  padding-left: 0 !important;
}
.footnotes ol li {
  display: block;
  margin-bottom: 0.8rem;
}
.footnotes ol li:before {
  content: counter(footnotes-counter);
  counter-increment: footnotes-counter;
  background-color: #eaeaea;
  border-radius: 50%;
  text-align: center;
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin-right: 0.8rem;
  float: left;
}

/*# sourceMappingURL=cap-reports-theme-support.css.map */
