%full-bleed-in-grid {
    width: calc(100% + 4rem);
    margin-left: -2rem;
    @include media($two-columns) {
        width: calc(100% + 368px);
        margin-left: -336px!important;
    }
}

body.single-reports {

    .entry-body {
        background: white;
        @include padding(2rem);
        @include clearfix();
        @include display(flex);
        @include flex-direction(column);
        @include outer-container(1150px);

        @include media($two-columns) {
            @include padding(2rem 0 2rem 0);
            @include flex-direction(row);
        }

        & > div {
            position: relative;
        }

        // Sidebar
        & > div:first-of-type {
            @include media($two-columns) {
                padding-left: 2rem;
                width: 300px;
            }
        }

        .entry-sidebar {
            & > div {
                & > div,
                & > span {
                    display: block;
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    border-bottom: 1px solid #eaeaea;
                }
            }
        }

        // Content Well
        & > div:last-of-type {
            @include media($two-columns) {
                @include calc(width, "100% - 250px");
                padding-left: 50px;
                padding-right: 2rem;
            }
        }

        .entry-content {
            @include media($tablet-up) {
                & > section:first-of-type {
                    .aesop-article-chapter-wrap {
                        margin-top: 0px!important;
                    }
                }
            }

            // Full bleed images
            figure.alignnone {
                @extend %full-bleed-in-grid;
                margin-left: 0;
                margin-right: 0;
                img {
                    border-bottom: 1px solid #eaeaea;
                    & + .sti-share-box {
                        padding-left: 1rem!important;
                        padding-right: 1rem!important;
                    }
                }
                .sti .sti-share-box {
                    position: relative!important;
                    left: 0!important;
                    .mdi {
                        display: inline-block!important;
                    }
                }
            }

            // Pullquote alignment
            .pullquote {
                &.alignleft {
                    float: none;
                    width: 100%!important;
                    @include media($tablet-up) {
                        float: left;
                        margin-left: 0!important;
                        width: 35%!important;
                        margin-right: 40px!important;
                        p {
                            padding-right: 1rem;
                        }
                        margin-top: 0;
                    }
                    @include media($two-columns) {
                        float: left!important;
                        margin-left: -300px!important;
                        width: calc(100% - 300px)!important;
                        width: -webkit-calc(100% - 300px)!important;
                        margin-right: 45px!important;
                    }
                }
            }

            // TODO replace with new video shortcode...
            .aesop-video-component {
                @include media($two-columns) {
                    &.aesop-component-align-left {
                        position: relative;
                        float: left;
                        width: 500px;
                        margin-right: 3rem;
                        margin-left: -300px!important;
                    }
                }
                .pretty-embed {
                    margin-bottom: 0;
                }
            }

            // Little style hack for tweets that appear right after a chapter title.
            .chapter-title + .oembed[data-src*="twitter.com"] .tweet-embed {
                &:before {
                    display: none;
                }
                .tweet-offset {
                    border-bottom: 2px solid rgba(85, 172, 238, 0.29);
                }
            }
            .tweet-embed {
                position: relative;
                @extend %full-bleed-in-grid;
                &:before {
                    display: block;
                    content: "";
                    width: 100%;
                    border-top: 2px solid rgba(85, 172, 238, 0.29);
                    position: relative;
                    top: -2px;
                }
                .tweet-offset {
                    @include padding(1rem 2rem 1rem 2rem);
                    @include media($two-columns) {
                        position: absolute;
                        width: 250px;
                        top: -2px;
                        padding: 1rem 0;
                        border-top: 2px solid #55acee;
                    }
                    iframe[style] {
                        width: 100%!important;
                    }
                }
            }

            // "Full Bleed" within grid
            .contentbox.box,
            .wide-paragraph {
                @extend %full-bleed-in-grid;
            }

            // Content block
            .contentbox {
                &.box .inner-content {
                    padding: 2rem;
                    @include media($two-columns) {
                        padding-left: 335px;
                    }
                    h1,
                    h2,
                    h3,
                    h4,
                    h5 {
                        &:first-of-type {
                            margin-top: 0;
                        }
                    }
                }
            }

        } // .entry-content
    } // .entry-body

    // Paragraph Counter
    .entry-content {
        counter-reset: paragraph;
        p.counter-paragraph {
            &:before {
                position: absolute;
                margin-left: -30px;
                color: #CCC;
                content: counter(paragraph);
                counter-increment: paragraph;
                opacity: 0.4;
                font-size: .8rem;
            }
            &:hover:before {
                opacity: 1.0;
            }
        }
    }

}
