img {
    max-width: 100%;
    height: auto;
}

figure {
    position: relative;
    &.image-box {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 1.5rem;
        @include media($up-to-two-columns) {
            max-width: 100%;
        }
    }
}

// Image Share Overrides
.sti {
    &[style] {
        width: auto!important;
    }
    .sti-share-box {
        padding: 0.5rem;
        .mdi {
            cursor: pointer;
            color: white;
            display: inline-block!important;
            margin-right: 0.3rem;
            &:before {
                text-shadow: 0px 1px 3px rgba(0,0,0,0.4);
            }
        }
    }
}

// Embeds
////////////////////////////////////////
figure.oembed {
    &[data-src*="soundcloud.com"] {
        margin-left: 0;
        margin-right: 0;
        iframe {
            max-width: 100%;
        }
    }
}

// Captions & Photo Box
////////////////////////////////////////

%caption-text-left {
    @include media(min-width 1123px) {
        text-align: left;
        position: absolute;
        width: 250px;
        top: 0px;
        text-align: right;
        left: -300px;
        padding-top: 0;
        &:before {
            content: "";
            border-top: 2px solid $light-gray;
            display: block;
            width: 50%;
            margin-bottom: 10px;
            margin-left: 50%;
        }
    }
}

.aligncenter {
    .image-meta {
        @extend %caption-text-left;
    }
}

.image-box:not(.alignnone) {
    .image-meta {
        .photo-credit {
            display: none;
        }
    }
}

.image-box {
    .image-meta {
        .photo-credit {
            float: right;
            position: relative;
            display: block;
            margin-top: -2.25rem;
            opacity: 0.8;
            font-size: 0.8rem;
            color: $white;
            text-shadow: 0px 1px 1px #000;
            padding-right: 2rem;
        }
    }
}

.image-box.alignnone {
    .image-meta {
        .photo-caption {
            display: block;
            font-size: 0.8rem;
            padding-top: 1rem;
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }
}

.wp-caption {
    &[style] {
        width: auto!important;
    }
    max-width: 100%;
    margin: 1rem 0;
    img[class*="wp-image-"] {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .wp-caption-text {
        text-align: center;
        font-style: italic;
        font-size: .85rem;
        padding: 0.8075em 0;
    }
}
