.pullquote {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    p {
        font-size: 1.5rem;
        font-weight: lighter;
    }
    .source {
        font-size: 0.8rem;
        color: #eaeaea;
        &:before {
            content: "-";
            display: inline-block;
            margin-right: 0.2rem;
        }
    }
}
