@import "reports";

body.single-reports {

    #report-overview {
        h4 {
            color: rgb(74, 75, 74);
        }
    }

    #key-points {
        @include display(flex);
        @include flex-direction(column);
        @include media($tablet-up) {
            @include flex-direction(row);
        }
        aside {
            // This will create circular numbers before each block
            &:before {
                display: inline-block;
                background-color: $light-gray;
                border-radius: 50%;
                text-align: center;
                width: 50px;
                height: 50px;
                line-height: 48px;
                position: relative;
                margin-bottom: .75rem;
            }
            @for $i from 1 through 4 {
                &:nth-of-type(#{$i}):before {
                    content: '#{$i}';
                }
            }
        }
    }

    .accordion-tabs {
        .tab-content {
            padding-bottom: 2rem;
        }
        .tab-link {
            text-align: center;
            @include clearfix();
            margin-bottom: 3rem;
            h4 {
                margin: 0!important;
                display: inline;
                background-color: $medium-gray;
                z-index: 2;
                position: relative;
                padding: 1rem;
            }
            &:after {
                content: "";
                display: block;
                z-index: 1;
                position: relative;
                width: 80%;
                margin-left: auto;
                margin-right: auto;
                border-top: 1px solid black;
                margin-top: -12px;
            }
        }
    }

    article,
    #report-overview {
        background-color: $medium-gray;
    }

    .big-button {
        display: inline-block;
        background-color: $wceg-primary;
        color: $white;
        font-size: 1.25rem;
        text-transform: uppercase;
        padding: 5px 15px;
        border-radius: 50px;
        margin-bottom: 0.5rem;
    }

    ul.accordion-tabs {
        li {
            width: 100%;
        }
    }

    .ccb-pullquote {
        @include media($tablet-up) {
            &.alignleft {
                border-right: 5px solid $light-gray;
            }
        }
    }

    .ccb-content.box {
        background-color: $light-gray;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

}
