figure.parallax {
    @extend %full-bleed-in-grid;
    margin-left: 0;
    margin-right: 0;
    background-attachment: fixed;
    background-position: top left;
    background-size: 100% auto;
    .inner {
        min-height: 50vh;
        &.gradient-cover {
            background-color: rgba(0,0,0,0.5);
            @include display(flex);
            @include align-items(center);
            @include justify-content(center);
            padding: 1rem;
        }
        h2 {
            color: #fff;
            text-shadow: 0px 1px 1px #000;
        }
    }
}
